@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar hiding */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

/* Custom animation for falling bananas */
@keyframes fall {
  to {
    transform: translateY(calc(100vh + 150px));
  }
}
